	.card {
background-image: linear-gradient(to bottom, 
rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%);
		background-repeat: no-repeat;
			background-attachment: fixed;
  

	.row{
margin-top: 10px;
margin-bottom: 20px;
    overflow:auto;
h2{
  text-align:center;
}
}
		}
